body {
    display: flex;
    font-family: 'Rubik', sans-serif !important;
    height: 100vh;
    background-color: rgb(254, 250, 239) !important;
}

.btns {
    display: flex;
    background-color: transparent;
    border: none;
    font-family: 'Rubik', sans-serif !important;
}

.d-none {
    display: none;
}

.disable-pointer-ev {
    pointer-events: none;
}

.progress {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 !important;
    background-color: rgb(174, 174, 174) !important;
}

.progress-bar {
    background-color: rgb(39, 52, 92) !important;
    border-radius: 0 8px 8px 0;
}

.mobile-menu-btn {
    z-index: 1000;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: transparent;
    border: none;
}

.mobile-menu-btn img {
    width: 32px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(39, 52, 92);
    border-radius: 16px 0 0 16px;
    padding-bottom: 16px;
    width: 20vw;
}

nav img {
    width: 98px;
    padding: 16px;
}

.nav-elements-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-top: 48px;
    font-size: 24px;
    color: white;
}

.nav-element {
    padding: 0 16px 0 16px;
    border-left: 4px solid transparent;
    color: #9d9d9d;
}

.nav-element-selected {
    border-left: 4px solid white;
    background-color: rgb(255 255 255 / 30%);
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quiz-section {
    display: flex;
    border-radius: 16px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 25%);
    width: 50vw;
    height: 80vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(img/brain_bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 16px 16px 0;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.start-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 16px;
    padding: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 0 16px 16px 0;
}

.start-screen-container h1 {
    font-weight: 700;
    margin: 0;
}

.start-quiz-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 48px;
    right: 48px;
    border: none;
    border-radius: 6px;
    background-color: rgb(255, 77, 14);
    color: white;
    padding: 8px 16px 8px 16px;
}

.start-quiz-btn:hover {
    background-color: rgb(255, 104, 50);
}

.start-quiz-btn img {
    width: 18px;
}

.question-pool-text {
    color: rgb(255, 77, 14);
}

.question-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.question-text {
    word-wrap: break-word;
    margin: 0;
}

.question-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #f2f2f2;
    border-radius: 0 0 16px 0;
}

.answer-btn {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    width: 100%;
    background-color: white;
    border: none !important;
}

.answer-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.answer-option-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(133 133 133 / 50%);
}

.answer-text {
    text-align: start;
    word-wrap: break-word;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.question-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    gap: 32px;
}

.question-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bg-right-answer {
    background-color: rgb(183, 247, 153);
}

.bg-right-answer-option-letter {
    background-color: rgb(76, 191, 26);
}

.bg-wrong-answer {
    background-color: rgb(255, 163, 164);
}

.bg-wrong-answer-option-letter {
    background-color: rgb(249, 23, 24);
}

.bg-right-answer-blinking {
    animation: blinking-bg 1s infinite;
    color: black;
}

@keyframes blinking-bg {
    0%,
    49% {
        background-color: rgb(183, 247, 153);
    }
    50%,
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.mobile-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 15%);
}

.mobile-close-btn img {
    width: 100%;
    padding: 8px;
}

.end-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 0 16px 16px 0;
}

.end-screen-result-img {
    width: 120px;
    margin-bottom: 16px;
}

.end-screen-headline {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

.score-text {
    display: flex;
    gap: 16px;
    font-weight: 700;
    color: rgb(255, 146, 49);
    margin-bottom: 32px;
}

.score-result {
    color: black;
}

.end-screen-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    color: #9d9d9d;
    text-align: center;
}


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
    .quiz-section {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        border-radius: 0;
    }
    .nav-mobile {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .nav-mobile-visible {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {
    .quiz-section {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        border-radius: 0;
    }
    .nav-mobile {
        transform: translateX(-100%);
        transition: all 225ms ease-in-out;
    }
    .nav-mobile-visible {
        transform: translateX(0%);
        transition: all 225ms ease-in-out;
    }
    nav img {
        width: 128px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .mobile-menu-icon,
    .mobile-close-btn {
        display: none;
    }
    .quiz-section {
        width: 80vw;
        height: 80vh;
        border-radius: 16px;
    }
    nav {
        position: unset;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        width: 20vw;
        z-index: 999;
        border-radius: 16px 0 0 16px;
    }
    .nav-mobile {
        transform: translateX(0%);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .quiz-section {
        width: 60vw;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}