body {
    display: flex;
    font-family: 'Rubik', sans-serif !important;
    height: 100vh;
    background-color: rgb(254, 250, 239) !important;
}

.btns {
    display: flex;
    background-color: transparent;
    border: none;
}

.progress {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 !important;
    background-color: rgb(174, 174, 174) !important;
}

.progress-bar {
    background-color: rgb(39, 52, 92) !important;
    border-radius: 0 8px 8px 0;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 52, 92);
    border-radius: 16px 0 0 16px;
    padding-bottom: 16px;
}

nav img {
    padding: 16px;
}

.nav-elements-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-top: 48px;
    font-size: 24px;
    color: white;
}

.nav-element {
    padding: 0 16px 0 16px;
    border-left: 4px solid transparent;
    color: #9d9d9d;
}

.nav-element-selected {
    border-left: 4px solid white;
    background-color: rgb(255 255 255 / 30%);
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quiz-section {
    display: flex;
    gap: 128px;
    border-radius: 8px;
    background-color: #f2f2f2;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
    border-radius: 0 16px 16px 0 !important;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-answer-card {
    flex-direction: row !important;
    align-items: center;
    width: 100%;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.answer-option-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(133 133 133 / 50%);
}

.question-answer-text {
    text-align: start;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 16px;
}

.bg-right-answer {
    background-color: rgb(183, 247, 153) !important;
}

.bg-wrong-answer {
    background-color: rgb(255, 163, 164) !important;
}

.bg-right-answer-blinking {
    animation: blinking-bg 1s infinite;
    color: black;
}

@keyframes blinking-bg {
    0%,
    49% {
        background-color: rgb(183, 247, 153);
    }
    50%,
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.text-center {
    text-align: center;
}

.end-screen-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}