main {
    height: calc(100vh - 52px);
    background-color: rgb(0, 122, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card {
    width: 100%;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 16px;
}

.bg-success,
.bg-danger {
    color: white;
}

.text-center {
    text-align: center;
}

.end-screen-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}